body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #86BBD8; /* Background color: Carolina Blue (#86BBD8) */
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #33658A; /* Darker shade of Carolina Blue for header background */
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-button {
    padding: 40px; /* Increase padding to make the button larger */
    background-color: #F6AE2D; /* Button background color: Hunyadi Yellow (#F6AE2D) */
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 24px; /* Increase font size for the icon */
    margin-right: 80px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button.icon-button:hover {
    background-color: #F26419; /* Hover background color: Orange (#F26419) */
    transform: scale(1.05);
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 180px;
    margin-left: 80px;
}

.dropbtn {
    background-color: #F6AE2D; /* Button background color: Hunyadi Yellow (#F6AE2D) */
    border: none;
    border-radius: 30px;
    padding: 30px 30px;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F6AE2D; /* Button background color: Hunyadi Yellow (#F6AE2D) */
    min-width: 25px;
    border-radius: 30px;
}

.dropdown-content a {
    padding: 30px 30px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #F26419; /* Hover background color: Orange (#F26419) */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-section {
    background-color: #33658A; /* Darker shade of Carolina Blue for about section background */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.image-section img {
    max-width: 150px;
    margin: 10px;
    float: left;
   transition: transform 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.2);
}

.welcome-section {
    display: flex;
    align-items: center; /* Vertically center elements */
}

h1 {
    font-size: 24px;
    margin-right: 10px; /* Add a margin between "Welcome to" and the logo */
}

.MainPageLogo img {
    max-width: 100px;
    max-height: 100px;
}
